<h1>Update Pet</h1>

<form class="" action="/pets/<%=@pet.id%>" method="post">
  <label for="name">Name:</label><br>
  <input id="pet_name" type="text" name="pet[name]" value="<%=@pet.name%>"><br>
  <p>Choose owners</p>
  <% @owners.each do |owner|%>
    <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>" <%= 'checked' if @pet.owner == owner%>>
      <%=owner.name%>
    </input>
  <%end%>
  <p>or create new one:</p>
  <label for="owner_name">Owner name:</label>
  <input id="owner_name" type="text" name="owner[name]"><br>
  <input type="submit" name="submit" value="Update Pet">
</form>
